# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.bak

# Temporary microsoft files
~$*

# PyCharm
.idea

# Docs
docs
docs/_build

# Common Data
common

# Example
example/*_plots*
example/*_stats
example/static
example
example/debug.txt
