# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.bak

# Temporary microsoft files
~$*

# PyCharm
.idea

# Docs
docs
docs/_build

# Common Data
common

# Virtual Environment
venv
et-demands/Include
et-demands/Lib
et-demands/tcl
et-demands/Scripts

# Example
example/*_plots*
example/*_stats
example/static
example
